.item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 272px;
  max-height: 208px;
  box-sizing: border-box;
}

.image {
  cursor: pointer;
}

.price {
  display: flex;
  gap: 10px;
  align-items: center;
}
