.status {
  display: flex;
  flex-direction: column;
  max-width: 580px;
  width: 100%;
  gap: 60px;
}

.completed {
}

.completedList {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 272px;
  gap: 6px;
  height: 100%;
  max-height: 330px;
  overflow: hidden;
  overflow-x: auto;
  list-style-type: none;
  margin: 0;
  padding: 0;
  color: #00cccc;
}

.statusListInProcess {
  composes: completedList;
  color: #f2f2f3;
}

.statusProgress {
  display: flex;
  gap: 36px;
  width: 100%;
}

.total {
  font-size: 144px;
  line-height: calc(144 / 120);
  text-shadow: 0px 0px 16px rgba(51, 51, 255, 0.25), 0px 0px 8px rgba(51, 51, 255, 0.25),
    0px 4px 32px rgba(51, 51, 255, 0.5);
}

.totalToday {
  font-size: 144px;
  line-height: calc(144 / 120);
  text-shadow: 0px 0px 16px rgba(51, 51, 255, 0.25), 0px 0px 8px rgba(51, 51, 255, 0.25),
    0px 4px 32px rgba(51, 51, 255, 0.5);
}
