.orderHeader {
  display: flex;
  justify-content: space-between;
}

.link {
  text-decoration: none;
  color: inherit;
}

.orders {
  max-height: 80vh;
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-right: 8px;
}
.orderItem {
  display: flex;
  flex-direction: column;
  gap: 24px;
  background: #1c1c21;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 2px rgba(0, 0, 0, 0.06), 0px 0px 1px rgba(0, 0, 0, 0.04);
  border-radius: 40px;
  max-width: 585px;
  padding: 24px;
}

.orderImages {
  display: flex;
  width: 50%;
  transform: translate(-25px, 0);
}

.orderImage {
  position: relative;
  height: 60px;
  z-index: 1;
}

.orderImageContainer {
  position: relative;
  border-radius: 50%;
  z-index: 2;
}

.orderInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price {
  display: flex;
  align-items: center;
  gap: 10px;
}

.orderImageContainer {
  &:after {
    position: absolute;
    content: "";
    width: 61px;
    height: 61px;
    background-color: black;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -52%);
    z-index: -1;
  }
  &:before {
    position: absolute;
    content: "";
    width: 65px;
    height: 65px;
    background: linear-gradient(0.25turn, rgba(128, 26, 178, 1), rgba(76, 76, 255, 1));
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -52%);
    z-index: -2;
  }
}

.hiddenCount {
  position: absolute;
  z-index: 1;
  padding: 15%;
  overflow: hidden;
  border-radius: 50%;
  text-align: center;
  top: 50%;
  left: 50%;
  font-size: 20px;
  line-height: calc(24 / 20);
  transform: translate(-49%, -52%);
  background-image: url(../../images/overlay.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

$i: 2;
$j: 6;
$k: var(--ingredientCount);

@for $i from $j through 1 {
  .orderImageContainer:nth-child(#{$i}) {
    z-index: calc(#{$k} - #{$i});
    transform: translate(calc(-70px * #{$i - 1}), 0);
  }
}
