.auth {
  max-width: 480px;
  width: 100%;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  width: 100%;
  padding-bottom: 80px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.link {
  color: #4c4cff;
  text-decoration: none;
}
