.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  padding-bottom: 40px;
  padding-top: 60px;
}

.title {
  text-shadow: 0px 0px 16px rgba(51, 51, 255, 0.25), 0px 0px 8px rgba(51, 51, 255, 0.25),
    0px 4px 32px rgba(51, 51, 255, 0.5);
}
