.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.main {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  max-width: 1280px;
  max-height: 912px;
  height: 100%;
  width: 100%;
}

@media screen and (max-width: 1200px) {
  .main {
    align-items: center;
    flex-direction: column;
  }
}
