.feed {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
  max-width: 1280px;
}

.feedOrders {
  display: flex;
  gap: 60px;
}

@media screen and (max-width: 1024px) {
  .feedOrders {
    flex-direction:column-reverse;
    align-items: center;
  }
}
