.tabs {
  display: flex;
}

.ingredients {
  max-width: 600px;
}

.container {
  display: flex;
  max-height: 756px;
  flex-direction: column;
  overflow: hidden;
  overflow-y: scroll;
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
