.header {
  position: relative;
  display: flex;
  width: 100%;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  height: max-content;
  background-color: #1d1d23;
}

.interface {
  display: flex;
  list-style-type: none;
  gap: 50px;
  margin: 0;
  padding: 0;
}

.interface__item {
  display: flex;
  align-items: center;
}

.profile {
  display: flex;
  text-decoration: none;
  color: white;
  align-items: center;
}

.logo {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}

@media screen and (max-width: 1200px) {
  .header {
    flex-direction: column-reverse;
    padding-top: 100px;
    gap: 20px;
  }
  .logo {
    top: 10px;
  }
}
