.header {
  box-sizing: border-box;
  width: 100%;
  background-color: rgba(28, 28, 33, 1);
}

.menu {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

.interface {
  display: flex;
  list-style-type: none;
  gap: 20px;
  margin: 0;
  padding: 0;
  width: 100%;
}

.interface__item {
  display: flex;
  align-items: center;
  width: 14%;
}

.interface__item:nth-child(3) {
  width: 40%;
  justify-content: center;
}

.interface__item:last-child {
  width: 30%;
  justify-content: end;
}

.link {
  display: flex;
  text-decoration: none;
  align-items: center;
}

@media screen and (max-width: 1200px) {
  .interface {
    flex-direction: column-reverse;
    align-items: center;
  }
  .interface__item:nth-child(n) {
    width: auto;
    justify-content: center;
  }
}
